Repository whooru/Infinite-Dev-Chain, changes with the labels that .github/labeler.yml gives for each.
All labels: python, javascript, kotlin, documentation, ci, tools

Make codeql much loyal
  .github/workflows/codeql.yml
Labels: ci

docs: add base project documentation (README, CONTRIBUTING, phases, CoC, license)
  .editorconfig
  .gitattributes
  .github/CODEOWNERS
  .github/workflows/ci.yml
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  GAME_PHASES.md
  README.md
  docs/tours.md
  languages/README.md
  tools/ci/changed_langs.sh
Labels: documentation, ci, tools

docs(readme): fix license section to state Apache 2.0 instead of MIT
  README.md
Labels: documentation

chore: add structured PR templates (default, docs, code)
  .editorconfig
  .gitattributes
  .github/CODEOWNERS
  .github/PULL_REQUEST_TEMPLATE/code-contribution.md
  .github/PULL_REQUEST_TEMPLATE/default.md
  .github/PULL_REQUEST_TEMPLATE/docs-update.md
  .github/workflows/ISSUE_TEMPLATE/bug_report.md
  .github/workflows/ISSUE_TEMPLATE/bug_report.yml
  .github/workflows/ISSUE_TEMPLATE/feature_request.md
  .github/workflows/ISSUE_TEMPLATE/feature_request.yml
  .github/workflows/ISSUE_TEMPLATE/proposal.md
  .github/workflows/ISSUE_TEMPLATE/proposal.yml
  README.md
  SECURITY.md
  docs/ci-pr-size-step.txt
  docs/readme-badges-snippet.md
  tools/ci/pr_size_guard.sh
Labels: documentation, ci, tools

docs(readme): fix CI and CodeQL badges links
  README.md
Labels: documentation

chore(license): fill copyright holder and year in Apache 2.0 LICENSE
  LICENSE
Labels: none

chore: add default pull request template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: documentation

(docs) I hope this is the last one
  README.md
  docs/README.md
  docs/game_phases.md
  docs/rules.md
Labels: documentation

chore: fix PR templates folder name to lowercase
  .github/pull_request_template/code-contribution.md
  .github/pull_request_template/default.md
  .github/pull_request_template/docs-update.md
Labels: documentation

chore: temp rename PR templates folder
  .github/tmp_templates/code-contribution.md
  .github/tmp_templates/default.md
  .github/tmp_templates/docs-update.md
Labels: documentation

build(kotlin): add Gradle Wrapper (v8.9) for :idc
  languages/kotlin/gradle/wrapper/gradle-wrapper.properties
  languages/kotlin/gradlew
  languages/kotlin/gradlew.bat
Labels: kotlin

build(kotlin): add Gradle wrapper and root build scripts
  languages/kotlin/build.gradle.kts
  languages/kotlin/settings.gradle.kts
Labels: kotlin

feat(idc): scaffold clean architecture layout (domain/application/infrastructure/presentation/di)
  languages/kotlin/idc/src/main/kotlin/idc/application/dtos/ElementSummary.kt
  languages/kotlin/idc/src/main/kotlin/idc/application/queries/DescribeElementsQuery.kt
  languages/kotlin/idc/src/main/kotlin/idc/application/services/DescribeElements.kt
  languages/kotlin/idc/src/main/kotlin/idc/application/services/RegisterElement.kt
  languages/kotlin/idc/src/main/kotlin/idc/di/README.md
  languages/kotlin/idc/src/main/kotlin/idc/domain/model/ElementId.kt
  languages/kotlin/idc/src/main/kotlin/idc/domain/model/Feature.kt
  languages/kotlin/idc/src/main/kotlin/idc/domain/port/ElementRepository.kt
  languages/kotlin/idc/src/main/kotlin/idc/examples/README.md
  languages/kotlin/idc/src/main/kotlin/idc/presentation/README.md
Labels: kotlin, documentation

feat(idc-application): add DTOs, query, and service API skeleton; add example test
  languages/kotlin/idc/src/test/kotlin/idc/application/DescribeElementsServiceTest.kt
Labels: kotlin

build(idc): configure testing (JUnit Platform + verbose logs) and macOS-safe cleanup; add rebuild helper
  languages/kotlin/idc/build.gradle.kts
Labels: kotlin

build(kotlin): add gradle.properties (official Kotlin style, JVM args; temp disable incremental)
  languages/kotlin/gradle.properties
Labels: kotlin

tour: unify structure across languages
  docs/tours.md
Labels: documentation

chore(ci): update CodeQL and CI workflow
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  languages/kotlin/gradlew
Labels: kotlin, ci

build: centralize Kotlin version in languages/kotlin
  languages/kotlin/build.gradle.kts
  languages/kotlin/idc/build.gradle.kts
  languages/kotlin/idc/src/main/kotlin/idc/application/dtos/ElementSummary.kt
  languages/kotlin/idc/src/main/kotlin/idc/application/queries/DescribeElementsQuery.kt
  languages/kotlin/idc/src/main/kotlin/idc/application/services/DescribeElements.kt
  languages/kotlin/idc/src/main/kotlin/idc/application/services/RegisterElement.kt
  languages/kotlin/idc/src/main/kotlin/idc/domain/model/ElementId.kt
  languages/kotlin/idc/src/main/kotlin/idc/domain/model/Feature.kt
  languages/kotlin/idc/src/main/kotlin/idc/domain/port/ElementRepository.kt
  languages/kotlin/idc/src/test/kotlin/idc/application/DescribeElementsServiceTest.kt
  languages/kotlin/settings.gradle.kts
Labels: kotlin

exclude gradle files from .gitignore
  .gitignore
Labels: none

gradle files
  languages/kotlin/gradle/wrapper/gradle-wrapper.jar
Labels: kotlin

add jococo tests
  languages/kotlin/idc/build.gradle.kts
Labels: kotlin

.github/labeler.yml:

python:
  - 'languages/python/**/*'
javascript:
  - 'languages/javascript/**/*'

kotlin:
  - 'languages/kotlin/**/*'


documentation:
  - 'docs/**/*'
  - '**/*.md'

ci:
  - '.github/workflows/**/*'

tools:
  - 'tools/**/*'
